data/
output/assemblies/
output/data_processing/all.contigs_kofam.txt
output/data_processing/all-contigs-prokkannotated.gff
output/data_processing/concatenateddf.tsv
output/data_processing/prokka-contigs-idsonly.gff
output/filtered/
output/kofam_outputs/all.contigs_kofam.txt
output/mapped_reads/
output/MegaHit_to_use_downstream/
output/merged/
output/prodigal-faas/
output/salmon_quant_out
output/silva
